@{
    ViewData["Title"] = "About Us";
}

<div>
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<div class="text-center"">
    <p>
        The company provides an innovative and user-friendly booking system designed to streamline scheduling and reservations for businesses of all sizes.
        Their platform allows customers to book appointments, events, or services with ease, offering real-time availability, automated confirmations, and reminders.
        The system integrates seamlessly with various industries, from healthcare to hospitality, ensuring that clients can manage their bookings efficiently and reduce no-shows.
        With customizable features, the booking system can be tailored to meet the unique needs of each business, enhancing customer experience while optimizing workflow and
        increasing overall productivity.
    </p>
</div>