@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<center>
    <table style="width:fit-content;">
        <tr>
            <th>EMAIL</th>
            <td>example@EventManagement.com</td>
        </tr>
        <tr>
            <th>TELEPHONE</th>
            <td>+44 00000000000</td>
        </tr>
        <tr>
            <th>ADDRESS</th>
            <td>132, My Street, Bigtown BG23 4YZ</td>
        </tr>
    </table>
</center>
